.containerHome{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vizualizer{
    height: 30px;
    width: 50px;
    background-color: black;
    border-radius: 20px;
}