.stationCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    height: 40px;
    width: 90px;
    margin: 17px;
    cursor: pointer;
}
.name{
    font-size: 30px;
}
.containerer{
    width: 90%;
    height: 90%;
}
.stationCard:hover{
    opacity: 0.9;
}
.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.scrollable{
    overflow: auto;
    height: 380px;
}
.MuiFormControl-root{
    border-color: black;
}
.buttons_market{
    position: absolute;
    width: 90%;
}