.containerHome{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vizualizer{
    height: 30px;
    width: 50px;
    background-color: black;
    border-radius: 20px;
}
.adds{
    height: 30px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px; 
}
.currentStation{
    height: 30px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px; 
}