body {
  background: no-repeat linear-gradient(to right, orange, rgb(0, 59, 95));
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html, body {
  overflow-x: hidden;
  min-height: 100%;
  padding:15px 0;
}
